NEXT_PUBLIC_WHATSAPP_NUMBER=5521986509259
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=https://daverdinha.com.br
NEXT_PUBLIC_BUSINESS_PHONE=+5521986509259
NEXT_PUBLIC_BUSINESS_ADDRESS=R. Capiberibe, 32 - Santo Cristo, Rio de Janeiro - RJ, 20220-030
