NEXT_PUBLIC_WHATSAPP_NUMBER=5521986509259
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=https://daverdinha.com.br
NEXT_PUBLIC_BUSINESS_PHONE=+5521986509259
NEXT_PUBLIC_BUSINESS_ADDRESS=R. Capiberibe, 32 - Santo Cristo, Rio de Janeiro - RJ, 20220-030
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
